<div class="container mt-5" *ngIf="shiftSchedule">
    <h2>Shift Schedule Details</h2>
    <p><strong>Name:</strong> {{ shiftSchedule.shift_name }}</p>
    <p><strong>Start Time:</strong> {{ shiftSchedule.start_shift_time }}</p>
    <p><strong>Grace Period:</strong> {{ shiftSchedule.shift_start_grace_period }}</p>
    <p><strong>Lunch Start:</strong> {{ shiftSchedule.lunch_start_time }}</p>
    <p><strong>Lunch End:</strong> {{ shiftSchedule.end_lunch_time }}</p>
    <p><strong>End Time:</strong> {{ shiftSchedule.end_shift_time }}</p>
    <p><strong>Timezone:</strong> {{ shiftSchedule.shift_timezone }}</p>
  </div>