.navbar {
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Make the navbar full width */
    font-family: Arial, sans-serif; /* Set the font family */
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px; /* Set the font size */
}

.navbar h1 {
    margin: 0;
    color: #000;
    font-size: 20px; /* Set the font size */
    font-weight: normal; /* Make the font weight normal */
}

.dropbtn {
    background-color: transparent;
    color: #000;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-weight: normal; /* Make the font weight normal */
    font-size: 16px; /* Set the font size */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content form {
    display: block;
    padding: 10px;
}

.dropdown-content button {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Set the font size */
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

