<div class="container mt-5">
    <h2 *ngIf="isEdit">Edit Shift Schedule</h2>
    <h2 *ngIf="!isEdit">Add Shift Schedule</h2>
    <form (ngSubmit)="saveShiftSchedule()">
      <div class="mb-3">
        <label for="shiftName" class="form-label">Shift Name</label>
        <input type="text" class="form-control" id="shiftName" [(ngModel)]="shiftSchedule.shift_name" name="shift_name" required />
      </div>
      <div class="mb-3">
        <label for="startShiftTime" class="form-label">Start Time</label>
        <input type="time" class="form-control" id="startShiftTime" [(ngModel)]="shiftSchedule.start_shift_time" name="start_shift_time" required />
      </div>
      <div class="mb-3">
        <label for="shiftStartGracePeriod" class="form-label">Grace Period</label>
        <input type="time" class="form-control" id="shiftStartGracePeriod" [(ngModel)]="shiftSchedule.shift_start_grace_period" name="shift_start_grace_period" />
      </div>
      <div class="mb-3">
        <label for="lunchStartTime" class="form-label">Lunch Start</label>
        <input type="time" class="form-control" id="lunchStartTime" [(ngModel)]="shiftSchedule.lunch_start_time" name="lunch_start_time" required />
      </div>
      <div class="mb-3">
        <label for="endLunchTime" class="form-label">Lunch End</label>
        <input type="time" class="form-control" id="endLunchTime" [(ngModel)]="shiftSchedule.end_lunch_time" name="end_lunch_time" required />
      </div>
      <div class="mb-3">
        <label for="endShiftTime" class="form-label">End Time</label>
        <input type="time" class="form-control" id="endShiftTime" [(ngModel)]="shiftSchedule.end_shift_time" name="end_shift_time" required />
      </div>
      <div class="mb-3">
        <label for="shiftTimezone" class="form-label">Timezone</label>
        <input type="text" class="form-control" id="shiftTimezone" [(ngModel)]="shiftSchedule.shift_timezone" name="shift_timezone" required />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>